<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>TeacherHelper</display-name>
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
  	<servlet-name>ValidateCodeServlet</servlet-name>
  	<servlet-class>com.teacherhelper.servlet.ValidateCodeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ValidateCodeServlet</servlet-name>
  	<url-pattern>/ValidateCodeServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<servlet-class>com.teacherhelper.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>ExitServlet</servlet-name>
  	<servlet-class>com.teacherhelper.servlet.ExitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ExitServlet</servlet-name>
  	<url-pattern>/ExitServlet</url-pattern>
  </servlet-mapping>
</web-app>